apache-airflow==3.0.6
apache-airflow-providers-http
apache-airflow-providers-amazon
apache-airflow-providers-google
apache-airflow-providers-microsoft-azure
apache-airflow-providers-docker
apache-airflow-providers-slack
duckdb
dbt-core
dbt-duckdb

# optional: great_expectations
